#tracy-debug .tracy-panel-routing{overflow:hidden;}
#tracy-debug .tracy-mode-float .tracy-panel-routing,
#tracy-debug .tracy-mode-window .tracy-panel-routing{overflow:visible;}
#tracy-debug .tracy-panel-routing h1{word-wrap:normal;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr.matched-by-route td{background:#BDE678 !important;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr.matched-by-default td{background:#C1D3FF !important;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td{font:12px/1.5em Consolas, monospace !important;white-space:nowrap;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td .c0{background:#97e5ff;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td .c1{background:#8dff8d;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td .c2{background:#f98fff;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td .c3{background:#ff9a9a;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td .c4{background:#ffb836;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td .c5{background:#ffff00;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td .light{color:#aaa;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td .mvc-link{display:inline-block;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td .params{display:block;margin-left:10px;}
#tracy-debug .tracy-panel-routing table.routes-configuration tr td pre{display:inline;background:transparent !important;font:12px/1.5em !important;}
#tracy-debug .tracy-panel-routing p.requested-url{white-space:nowrap;font:12px/1.5em Consolas, monospace !important;}
#tracy-debug .tracy-panel-routing p.requested-url span{background:#ddd;white-space:nowrap;display:inline-block;padding:0 3px;}